In [1]:
#pip install pymongo
#open Mongodb shell and get the ip address being present at top of the shell.

In [2]:
# import pymongo and connect Mong client with the ipadress from the shell
import pymongo
mongo=pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [3]:
#execute the command mongo.list_database.names() to list all the existing databases present in Mongodb
all_databases = mongo.list_database_names()
print(all_databases)

['Database', 'admin', 'bank', 'config', 'dilip', 'guvi1', 'guvi44', 'library', 'local', 'task']

In [4]:
# Creating new database as'dilip' and collection as 'bank'
mydb=mongo['dilip']
bankcollection=mydb['bank']
#bankcollection.drop()

### Inserting the data into db i.e., creating the collection

##### Inserting single collection using insert_one()

In [5]:
bankdata={'name':'Name1','accountType':'Savings','salary':60000,'incometax':5000,'location':'Mysuru'}
doc_id = bankcollection.insert_one(bankdata)

#To display the insert record's doc id
print(doc_id.inserted_id)

639562f52fa55b1a9902f68b

##### inserting set of collections using insert_many()

In [6]:
listOfDict=[
 {'name':'Name1','accountType':'Savings','salary':30000,'incometax':2000,'location':'Bengaluru'},
 {'name':'Name2','accountType':'Savings','salary':40000,'incometax':3000,'location':'Mysuru'},
 {'name':'Name3','accountType':'Current','salary':50000,'incometax':4000,'location':'Bengaluru'},
 {'name':'Name4','accountType':'Savings','salary':60000,'incometax':5000,'location':'Mysuru'},]
doc_id = bankcollection.insert_many(listOfDict)

#To display the inserted records' doc ids
print(doc_id.inserted_ids)

[ObjectId('639562f52fa55b1a9902f68c'), ObjectId('639562f52fa55b1a9902f68d'), ObjectId('639562f52fa55b1a9902f68e'), ObjectId('639562f52fa55b1a9902f68f')]