In [1]:
#pip install pymongo


#open Mongodb shell and get the ip address being present at top of the shell.

In [2]:
# import pymongo and connect Mong client with the ipadress from the shell
import pymongo
mongo=pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [3]:
#execute the command mongo.list_database.names() to list all the existing databases present in Mongodb

all_databases = mongo.list_database_names()
print(all_databases)

['Database', 'admin', 'bank', 'config', 'dilip', 'guvi1', 'guvi44', 'library', 'local', 'task']

# Reading

In [4]:
#set the database and collection to read

mydb=mongo['dilip']
bankcollection=mydb['bank']

In [5]:
# find_one() is used to read  the first document entry from the collection

data = bankcollection.find_one()
print(data)

{'_id': ObjectId('632ee090971bca0b00762931'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}

In [6]:
#specific_data=mycollection.find_one({},{hiding fields(0)/show fields(1)})

specific_data=bankcollection.find_one({},{'_id':0,'name':1,'accountType':1,'location':1})
print(specific_data)

{'name': 'Name1', 'accountType': 'Savings', 'location': 'Mysuru'}

In [7]:
# find() is used to read all the documents entries from collection

data1 =bankcollection.find()
for dat in data1:
    print(dat)

{'_id': ObjectId('632ee090971bca0b00762931'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}
{'_id': ObjectId('632ee093971bca0b00762932'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 30000, 'incometax': 2000, 'location': 'Bengaluru'}
{'_id': ObjectId('632ee093971bca0b00762933'), 'name': 'Name2', 'accountType': 'Savings', 'salary': 40000, 'incometax': 3000, 'location': 'Mysuru'}
{'_id': ObjectId('632ee093971bca0b00762934'), 'name': 'Name3', 'accountType': 'Current', 'salary': 50000, 'incometax': 4000, 'location': 'Bengaluru'}
{'_id': ObjectId('632ee093971bca0b00762935'), 'name': 'Name4', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}
{'_id': ObjectId('632ee75699df7b45728fb1df'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}
{'_id': ObjectId('632ee75899df7b45728fb1e0'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 30000, 'incometax': 2000, 'location': 'Bengaluru'}
{'_id': ObjectId('632ee75899df7b45728fb1e1'), 'name': 'Name2', 'accountType': 'Savings', 'salary': 40000, 'incometax': 3000, 'location': 'Mysuru'}
{'_id': ObjectId('632ee75899df7b45728fb1e2'), 'name': 'Name3', 'accountType': 'Current', 'salary': 50000, 'incometax': 4000, 'location': 'Bengaluru'}
{'_id': ObjectId('632ee75899df7b45728fb1e3'), 'name': 'Name4', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}

In [8]:
#specific_data=mycollection.find_one({},{hiding fields(0)/show fields(1)})

data1 =bankcollection.find({},{'_id':0,'name':1,'accountType':1,'location':1})
for dat in data1:
    print(dat)

{'name': 'Name1', 'accountType': 'Savings', 'location': 'Mysuru'}
{'name': 'Name1', 'accountType': 'Savings', 'location': 'Bengaluru'}
{'name': 'Name2', 'accountType': 'Savings', 'location': 'Mysuru'}
{'name': 'Name3', 'accountType': 'Current', 'location': 'Bengaluru'}
{'name': 'Name4', 'accountType': 'Savings', 'location': 'Mysuru'}
{'name': 'Name1', 'accountType': 'Savings', 'location': 'Mysuru'}
{'name': 'Name1', 'accountType': 'Savings', 'location': 'Bengaluru'}
{'name': 'Name2', 'accountType': 'Savings', 'location': 'Mysuru'}
{'name': 'Name3', 'accountType': 'Current', 'location': 'Bengaluru'}
{'name': 'Name4', 'accountType': 'Savings', 'location': 'Mysuru'}