In [1]:
# import pymongo and connect Mong client with the ipadress from the shell
import pymongo
mongo=pymongo.MongoClient("mongodb://127.0.0.1:27017/")
# Creating new collection
mydb=mongo['guvi1']
mycollection=mydb['collection1']
mycollection.drop()

#Inserting some documents to the collection. 
listOfDict=[{'_id': 12345, 'Book_Title': 'Harry Potter V1.1', 'Author_Name': 'Rowling', 'issue_date': '2022-10-01', 'renew_date': '2022-10-31', 'assigned_to': None, 'penalty': 0},
            {'_id': 12346, 'Book_Title': 'Nityotsava', 'Author_Name': 'Nissar Ahmed', 'issue_date': '2022-10-03', 'renew_date': '2022-10-18', 'assigned_to':  None, 'penalty': 220},
            {'_id': 12347, 'Book_Title': 'The Names', 'Author_Name': 'Don Delillo', 'issue_date': '2022-10-05', 'renew_date': '2022-11-04', 'assigned_to':  1234567890, 'penalty': 0},
            {'_id': 12348, 'Book_Title': 'Malegaaladalli MadhumagaLu', 'Author_Name': 'Kuvempu', 'issue_date': '2022-10-19', 'renew_date': '2022-11-03', 'assigned_to':  None, 'penalty': 0},
            {'_id': 12349, 'Book_Title': 'Three Thousand Stitches', 'Author_Name': 'Sudha Murthy', 'issue_date': '2022-10-01', 'renew_date': '2022-10-16', 'assigned_to': None, 'penalty': 260},
            {'_id': 12350, 'Book_Title': 'How the Sea became Salty', 'Author_Name': 'Sudha Murthy', 'issue_date': '2022-10-01', 'renew_date': '2022-10-16', 'assigned_to': 1234567890, 'penalty': 260},
            {'_id': 12351, 'Book_Title': 'Ramayana Darshanam', 'Author_Name': 'Kuvempu', 'issue_date': '2022-09-15', 'renew_date': '2022-09-30', 'assigned_to': 1234567890, 'penalty': 580},
            {'_id': 12352, 'Book_Title': 'Nenapina doNiyali', 'Author_Name': 'Kuvempu', 'issue_date': '2022-10-02', 'renew_date': '2022-10-17', 'assigned_to': 1234567890, 'penalty': 240}]
doc_id = mycollection.insert_many(listOfDict)

In [2]:
#  Updating the Book Title for _id = 12352 using update_one and set

query={'_id':12352}                                           # Selection query
new_value={'$set':{'Book_Title':'Python Fundamentals'}}       # New value to update
 
mycollection.update_one(query,new_value)       #<====== Update_one to update one document

# Displaying the document to see updated value
mycollection.find_one({'_id':12352},{})

{'_id': 12352,
 'Book_Title': 'Python Fundamentals',
 'Author_Name': 'Kuvempu',
 'issue_date': '2022-10-02',
 'renew_date': '2022-10-17',
 'assigned_to': 1234567890,
 'penalty': 240}

In [3]:
#Updating the launch_place as Bengaluru for all Books using "update_many" and set

query={}
new_value={'$set':{'book_price':300}}      # Since 'book_price' is not in documents, so it will be added

mycollection.update_many(query,new_value)  #<====== Update_many to update all documents matching query

# Displaying the documents to see updated value
for data in mycollection.find({},{'_id':0,'Book_Title':1, 'Author_Name':1,'book_price':1,'penalty':1}):
    print(data)

{'Book_Title': 'Harry Potter V1.1', 'Author_Name': 'Rowling', 'penalty': 0, 'book_price': 300}
{'Book_Title': 'Nityotsava', 'Author_Name': 'Nissar Ahmed', 'penalty': 220, 'book_price': 300}
{'Book_Title': 'The Names', 'Author_Name': 'Don Delillo', 'penalty': 0, 'book_price': 300}
{'Book_Title': 'Malegaaladalli MadhumagaLu', 'Author_Name': 'Kuvempu', 'penalty': 0, 'book_price': 300}
{'Book_Title': 'Three Thousand Stitches', 'Author_Name': 'Sudha Murthy', 'penalty': 260, 'book_price': 300}
{'Book_Title': 'How the Sea became Salty', 'Author_Name': 'Sudha Murthy', 'penalty': 260, 'book_price': 300}
{'Book_Title': 'Ramayana Darshanam', 'Author_Name': 'Kuvempu', 'penalty': 580, 'book_price': 300}
{'Book_Title': 'Python Fundamentals', 'Author_Name': 'Kuvempu', 'penalty': 240, 'book_price': 300}

In [4]:
#Updating the current date for all documents using currentDate

query={}
new_value={'$currentDate':{'lastModified':True}}

mycollection.update_many(query,new_value) #<====== Update_many to update all documents matching query

# Displaying the document to see updated value
for data in mycollection.find({},{'_id':0,'Book_Title':1, 'lastModified':1}):
    print(data)

{'Book_Title': 'Harry Potter V1.1', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 207000)}
{'Book_Title': 'Nityotsava', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 207000)}
{'Book_Title': 'The Names', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 207000)}
{'Book_Title': 'Malegaaladalli MadhumagaLu', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 207000)}
{'Book_Title': 'Three Thousand Stitches', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 208000)}
{'Book_Title': 'How the Sea became Salty', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 208000)}
{'Book_Title': 'Ramayana Darshanam', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 208000)}
{'Book_Title': 'Python Fundamentals', 'lastModified': datetime.datetime(2022, 11, 12, 12, 22, 23, 208000)}

In [5]:
# To remove paricular key in document ("penalty"), unset is used. 

query={}
new_value={'$unset':{'penalty':True}}      

mycollection.update_many(query,new_value) #<====== Update_many to update all documents matching query

# Displaying the document to see updated value. We can see Penalty would be deleted. 
for data in mycollection.find({},{'Book_Title':1,'penalty':1,'_id':0}):
    print(data)

{'Book_Title': 'Harry Potter V1.1'}
{'Book_Title': 'Nityotsava'}
{'Book_Title': 'The Names'}
{'Book_Title': 'Malegaaladalli MadhumagaLu'}
{'Book_Title': 'Three Thousand Stitches'}
{'Book_Title': 'How the Sea became Salty'}
{'Book_Title': 'Ramayana Darshanam'}
{'Book_Title': 'Python Fundamentals'}

In [6]:
# Updating document by document inside find(). 
# for each document, if the assigned_to is None then value 9999999999 is updated

for data in mycollection.find():         
    if data['assigned_to']==None:         
        mycollection.update_one({'_id':data['_id']},{'$set':{'assigned_to':9999999999}})  #<====== Update_one to update one document

In [7]:
#Incrementing Sudha Murthy author's books value by 100 Rs. 

query={'Author_Name': 'Sudha Murthy'}
new_value={'$inc':{'book_price':+100}}

mycollection.update_many(query,new_value) #<====== Update_many to update all documents matching query

# Displaying the document to see updated value
for data in mycollection.find({},{'Book_Title':1,'Author_Name':1,'book_price':1}):
    print(data)

{'_id': 12345, 'Book_Title': 'Harry Potter V1.1', 'Author_Name': 'Rowling', 'book_price': 300}
{'_id': 12346, 'Book_Title': 'Nityotsava', 'Author_Name': 'Nissar Ahmed', 'book_price': 300}
{'_id': 12347, 'Book_Title': 'The Names', 'Author_Name': 'Don Delillo', 'book_price': 300}
{'_id': 12348, 'Book_Title': 'Malegaaladalli MadhumagaLu', 'Author_Name': 'Kuvempu', 'book_price': 300}
{'_id': 12349, 'Book_Title': 'Three Thousand Stitches', 'Author_Name': 'Sudha Murthy', 'book_price': 400}
{'_id': 12350, 'Book_Title': 'How the Sea became Salty', 'Author_Name': 'Sudha Murthy', 'book_price': 400}
{'_id': 12351, 'Book_Title': 'Ramayana Darshanam', 'Author_Name': 'Kuvempu', 'book_price': 300}
{'_id': 12352, 'Book_Title': 'Python Fundamentals', 'Author_Name': 'Kuvempu', 'book_price': 300}

In [8]:
#Decrementing Harry Potter book price by 100.  

query={'Book_Title': 'Harry Potter V1.1'}
new_value={'$inc':{'book_price':-100}}

mycollection.update_one(query,new_value) #<====== Update_one to update one document

# Displaying the document to see updated value
for data in mycollection.find({},{'Book_Title':1,'Author_Name':1,'book_price':1}):
    print(data)

{'_id': 12345, 'Book_Title': 'Harry Potter V1.1', 'Author_Name': 'Rowling', 'book_price': 200}
{'_id': 12346, 'Book_Title': 'Nityotsava', 'Author_Name': 'Nissar Ahmed', 'book_price': 300}
{'_id': 12347, 'Book_Title': 'The Names', 'Author_Name': 'Don Delillo', 'book_price': 300}
{'_id': 12348, 'Book_Title': 'Malegaaladalli MadhumagaLu', 'Author_Name': 'Kuvempu', 'book_price': 300}
{'_id': 12349, 'Book_Title': 'Three Thousand Stitches', 'Author_Name': 'Sudha Murthy', 'book_price': 400}
{'_id': 12350, 'Book_Title': 'How the Sea became Salty', 'Author_Name': 'Sudha Murthy', 'book_price': 400}
{'_id': 12351, 'Book_Title': 'Ramayana Darshanam', 'Author_Name': 'Kuvempu', 'book_price': 300}
{'_id': 12352, 'Book_Title': 'Python Fundamentals', 'Author_Name': 'Kuvempu', 'book_price': 300}

In [9]:
# Increasing book prices by 25% 

query={}
new_value={'$mul':{'book_price':1.25}}      
 
mycollection.update_many(query,new_value) #<====== Update_many to update all documents matching query

# Displaying the document to see updated value
for data in mycollection.find({},{'Book_Title':1,'Author_Name':1,'book_price':1}):
    print(data)

{'_id': 12345, 'Book_Title': 'Harry Potter V1.1', 'Author_Name': 'Rowling', 'book_price': 250.0}
{'_id': 12346, 'Book_Title': 'Nityotsava', 'Author_Name': 'Nissar Ahmed', 'book_price': 375.0}
{'_id': 12347, 'Book_Title': 'The Names', 'Author_Name': 'Don Delillo', 'book_price': 375.0}
{'_id': 12348, 'Book_Title': 'Malegaaladalli MadhumagaLu', 'Author_Name': 'Kuvempu', 'book_price': 375.0}
{'_id': 12349, 'Book_Title': 'Three Thousand Stitches', 'Author_Name': 'Sudha Murthy', 'book_price': 500.0}
{'_id': 12350, 'Book_Title': 'How the Sea became Salty', 'Author_Name': 'Sudha Murthy', 'book_price': 500.0}
{'_id': 12351, 'Book_Title': 'Ramayana Darshanam', 'Author_Name': 'Kuvempu', 'book_price': 375.0}
{'_id': 12352, 'Book_Title': 'Python Fundamentals', 'Author_Name': 'Kuvempu', 'book_price': 375.0}

In [10]:
# Renaming the book_price key to 'book_cost'

query={}
new_value={'$rename':{'book_price':'book_cost'}}      

mycollection.update_many(query,new_value) #<====== Update_many to update all documents matching query

# Displaying the document to see updated value
for data in mycollection.find({},{'Book_Title':1,'Author_Name':1,'book_cost':1}):
    print(data)

{'_id': 12345, 'Book_Title': 'Harry Potter V1.1', 'Author_Name': 'Rowling', 'book_cost': 250.0}
{'_id': 12346, 'Book_Title': 'Nityotsava', 'Author_Name': 'Nissar Ahmed', 'book_cost': 375.0}
{'_id': 12347, 'Book_Title': 'The Names', 'Author_Name': 'Don Delillo', 'book_cost': 375.0}
{'_id': 12348, 'Book_Title': 'Malegaaladalli MadhumagaLu', 'Author_Name': 'Kuvempu', 'book_cost': 375.0}
{'_id': 12349, 'Book_Title': 'Three Thousand Stitches', 'Author_Name': 'Sudha Murthy', 'book_cost': 500.0}
{'_id': 12350, 'Book_Title': 'How the Sea became Salty', 'Author_Name': 'Sudha Murthy', 'book_cost': 500.0}
{'_id': 12351, 'Book_Title': 'Ramayana Darshanam', 'Author_Name': 'Kuvempu', 'book_cost': 375.0}
{'_id': 12352, 'Book_Title': 'Python Fundamentals', 'Author_Name': 'Kuvempu', 'book_cost': 375.0}