In [1]:
#pip install pymongo

#open Mongodb shell and get the ip address being present at top of the shell.

In [2]:
# import pymongo and connect Mong client with the ipadress from the shell
import pymongo
mongo=pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [3]:
#execute the command mongo.list_database.names() to list all the existing databases present in Mongodb

all_databases = mongo.list_database_names()
print(all_databases)

['Database', 'admin', 'bank', 'config', 'dilip', 'guvi1', 'guvi44', 'library', 'local', 'task']

In [4]:
# Creating new 
mydb=mongo['dilip']
mycollection=mydb['bank']

In [5]:
# displaying the records in 'bank' collection to view before deleting. 
data1 = mycollection.find()
for data in data1:
    print (data)

{'_id': ObjectId('63956bfd19011513ca16eff6'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}
{'_id': ObjectId('63956bfe19011513ca16eff7'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 30000, 'incometax': 2000, 'location': 'Bengaluru'}
{'_id': ObjectId('63956bfe19011513ca16eff8'), 'name': 'Name2', 'accountType': 'Savings', 'salary': 40000, 'incometax': 3000, 'location': 'Mysuru'}
{'_id': ObjectId('63956bfe19011513ca16eff9'), 'name': 'Name3', 'accountType': 'Current', 'salary': 50000, 'incometax': 4000, 'location': 'Bengaluru'}
{'_id': ObjectId('63956bfe19011513ca16effa'), 'name': 'Name4', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}

### Deleting the records from the collection.

##### Deleting single document

In [6]:
query = {'salary':30000}

data1 =mycollection.delete_one(query)   #deleting the document with salary=30000   

# To know number of documents deleted.
print("Number of records deleted: ",data1.deleted_count)
print('---------------------------------------------------------------------------------------------------------------------\n')

# To display the records in collection after deleting document with salary=30000
for data in mycollection.find():
    print(data)

Number of records deleted:  1
---------------------------------------------------------------------------------------------------------------------

{'_id': ObjectId('63956bfd19011513ca16eff6'), 'name': 'Name1', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}
{'_id': ObjectId('63956bfe19011513ca16eff8'), 'name': 'Name2', 'accountType': 'Savings', 'salary': 40000, 'incometax': 3000, 'location': 'Mysuru'}
{'_id': ObjectId('63956bfe19011513ca16eff9'), 'name': 'Name3', 'accountType': 'Current', 'salary': 50000, 'incometax': 4000, 'location': 'Bengaluru'}
{'_id': ObjectId('63956bfe19011513ca16effa'), 'name': 'Name4', 'accountType': 'Savings', 'salary': 60000, 'incometax': 5000, 'location': 'Mysuru'}

##### Deleting multiple documents

In [7]:
query = {'salary':60000}

data2 =mycollection.delete_many(query)   #deleting the document with salary=30000  

# To know number of documents deleted.
print("Number of records deleted: ",data2.deleted_count)
print('---------------------------------------------------------------------------------------------------------------------\n')

# To display the records in collection after deleting document with salary=30000
for data in mycollection.find():
    print(data)

Number of records deleted:  2
---------------------------------------------------------------------------------------------------------------------

{'_id': ObjectId('63956bfe19011513ca16eff8'), 'name': 'Name2', 'accountType': 'Savings', 'salary': 40000, 'incometax': 3000, 'location': 'Mysuru'}
{'_id': ObjectId('63956bfe19011513ca16eff9'), 'name': 'Name3', 'accountType': 'Current', 'salary': 50000, 'incometax': 4000, 'location': 'Bengaluru'}